
.c {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.container-cart {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  border: 10px solid #000000;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cart Header Styles */
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Cart Items Styles */
.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
}

.cart-item-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.cart-item-price {
  font-size: 0.9rem;
}

.quantity-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.quantity-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
}

.remove-btn {
  background-color: #ff6347;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Price Details Styles */
.price-details {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.price-details h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.price-details-row {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Bottom Bar Styles */
.bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.continue-shopping-btn,
.buy-now-btn {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.continue-shopping-btn {
  background-color: #3498db;
  color: #fff;
}

.buy-now-btn {
  background-color: #ff0404;
  color: #fff;
}

/* Toast Styles */
.Toastify__toast-container {
  width: 100%;
  z-index: 9999; /* Ensure toast is above other content */
}

.Toastify__toast--success {
  background-color: #27ae60;
  color: #fff;
}
