/* Body and container styling */
.forget-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 20px;
  background: linear-gradient(135deg, #6868a9, #6fb7b2);
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

/* Card styling */
.forget-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  padding: 30px 25px;
  border-radius: 15px;
  text-align: center;
  max-width: 420px;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}


.forget-card h2 {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
}

/* Description styling */
.forget-card p {
  color: black;
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.6;
}

/* Input field styling */
.input-field {
  width: 93%;
  padding: 15px 22px;
  margin-bottom: 20px;
  border: 2px solid #86a8e7;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  color: #333;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.input-field:focus {
  box-shadow: 0 0 10px rgba(127, 127, 213, 0.7);
  border: 1px solid #7f7fd5;
}

/* Button styling */
.btn-reset {
  background: linear-gradient(135deg, #6fb7b2,#6868a9);
  border:1px solid black;
  color: black;
  padding: 15px 20px;
  border-radius: 25px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 96%;
  margin-bottom: 15px;
  margin-right:5px;
  box-shadow: 0 5px 15px rgba(135, 208, 235, 0.4);
}

.btn-reset:hover {
  background: linear-gradient(135deg, #6868a9, #6fb7b2);
  transform: scale(1.02);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.btn-reset:active {
  background: linear-gradient(135deg, #6868a9, #6fb7b2);
  box-shadow: inset 0 5px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive styles */
@media (max-width: 480px) {
  .forget-card {
    padding: 20px;
  }

  .forget-card h2 {
    font-size: 1.8rem;
  }

  .input-field {
    padding: 12px;
    font-size: 0.95rem;
  }

  .btn-reset {
    font-size: 0.95rem;
    padding: 12px;
  }
}
