.container {
  width: 100%;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-bar .search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width:90%;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.order-item {
  width:90%;
  display:flex;
  flex-direction: row;
  background-color: #fff;
  padding: 20px;
  border: 1.5px solid #007bff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}
.order-item img{
  border:1px solid black;
  padding:10px;
  height: 160px;
  width: 160px;
}
.order-shared {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.order-content {
  width:100%;
  display: flex;
  align-items: center;
}

.order-content img {
  width: 100px;
  border-radius: 10px;
  margin-right: 20px;
}

.details {
  flex-grow: 1;
}

.details h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.details p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.order-status {
  margin-top: 10px;
}

.refund-status {
  color: orange;
  font-weight: bold;
}

.delivery-status {
  color: green;
  font-weight: bold;
}

.refund-details {
  margin-top: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.refund-details p {
  margin: 0 0 5px 0;
  font-size: 14px;
  color: #333;
}

.refund-details ul {
  padding-left: 20px;
  margin: 0;
}

.refund-details li {
  font-size: 14px;
  color: #555;
}

.no-order {
  text-align: center;
  color: #999;
  font-size: 18px;
  margin-top: 50px;
}
#loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px; /* Change height to min-height */
}

#loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px){
  .container {
    width: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  
  .order-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:90%;
    max-height: calc(150vh - 200px);
    overflow-y: auto;
  }
  
  .order-item {
    width:70%;
    display:flex;
    flex-direction: row;
    background-color: #fff;
    padding: 20px;
    border: 1.5px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  .order-item img{
    border:1px solid black;
    padding:10px;
    height: 100px;
    width: 60px;
  }
  .order-shared {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  }
  #loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px; /* Change height to min-height */
  }
  
  #loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  .order-content {
    width:100%;
    display: flex;
    align-items: center;
  }
  
  .order-content img {
    width: 100px;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .details {
    flex-grow: 1;
  }
  
  .details h2 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }
  
  .details p {
    margin: 5px 0;
    font-size: 10px;
    color: #555;
  }
  
  .order-status {
    margin-top: 10px;
  }
  
  .refund-status {
    color: orange;
    font-weight: bold;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .delivery-status {
    color: green;
    font-weight: bold;
  }
  
  .refund-details {
    margin-top: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .refund-details p {
    margin: 0 0 5px 0;
    font-size: 14px;
    color: #333;
  }
  
  .refund-details ul {
    padding-left: 20px;
    margin: 0;
  }
  
  .refund-details li {
    font-size: 14px;
    color: #555;
  }
  
  .no-order {
    text-align: center;
    color: #999;
    font-size: 18px;
    margin-top: 50px;
  }
}