  .Login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:white;
  }
  
  .login {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    border: solid 1px black;
  }
  
  h1 {
    color: #000000;
  }
  
  hr {
    border: 1px solid #ddd;
    margin: 15px 0;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  
  #button-l {
    background-color: #00c0f0; /* Green color for the button */
    color: #fff;
    padding: 2%;
    width:100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    transition: background-color 0.3s; 
  }
  
  #button-l:hover {
    background-color: #006fb4; /* Darker shade on hover */
  }
  
  .or-l {
    margin: 10px 0;
    color: #000000;
  }
  
  #forget {
    display: block;
    margin-top: 10px;
    color: #000000;
  }
  
  #icon {
    cursor: pointer;
    position:absolute;
    right:36.5%;
    top:60%;
    display: inline-block;
  }

  
  
  #icon:hover {
    color: #007bff;
  }
  #forget-l{
    text-decoration: none;
    color:black;
  }
  @media (max-width: 768px) {
    .login {
      width: 55%;
    }
    #icon {
      cursor: pointer;
      display: inline-block;
      position:absolute;
      right:23.5%;
      top:58.5%;
    }
    #button-l {
      background-color: #00c0f0; /* Green color for the button */
      color: #fff;
      padding: 2%;
      width:100%;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
      text-decoration: none;
      transition: background-color 0.3s; 
    }
    
    #button-l:hover {
      background-color: #006fb4; /* Darker shade on hover */
    }
    .or-l {
      margin: 10px 0;
      color: #000000;
    }
    #forget {
      display: block;
      margin-top: 10px;
      color: #777;
    }
  }
  