
.Change-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); 
}

.change-password {
  text-align: center;
  margin-top: 5%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.icon {
  position: absolute;
  right: 38%;
  top: 53%;
  cursor: pointer;
}
.closeChangePasswordButton{
  position: absolute;
  top:38%;
  right: 36%;
  background: transparent;
  border: none;
  cursor: pointer;
  color:black;
  font-size: small;
}
.closeChangePasswordButton:hover{
 background: transparent;
}
.but {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.homepage-button {
  background-color: blue;
}
.button {
  background-color: #c92323;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #ff050576;
}

button[type="button"] {
  background-color: #00d9ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button[type="button"]:hover {
  background-color: #0081a5ad;
}

@media (max-width: 768px) {
  .closeChangePasswordButton{
    position: absolute;
    top:38%;
    right: 5%;
    background: transparent;
    border: none;
    cursor: pointer;
    color:black;
  }
}