/* ChangeUserPassword.css */

.Change-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(15px);
}

.change-password {
  background-color: #f5f5f5;
  padding: 30px 40px;
  border-radius: 15px;
  width: 400px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.change-password:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.closeChangePasswordButton {
  position: absolute;
  top: 18px; /* Moves it outside the dialog box */
  right: 250px;
  background: #300bb8;
  color:red;
  border-radius: 50%;
  border: none;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
}

.closeChangePasswordButton:hover {
  color: #ff5722;
}

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  color: #333;
  outline: none;
  background-color: #fff;
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.input:focus {
  border-color: #ff5722;
  box-shadow: 0 5px 15px rgba(255, 87, 34, 0.3);
}

.icon {
  position: absolute;
  right: 15px;
  top: 49%;
  right:31%;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #ff5722;
}

.but {
  margin-top: 25px;
}

.button {
  background-color: #ff5722;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #e64a19;
  transform: translateY(-5px);
}

.homepage-button {
  background-color: transparent;
  color: #333;
  padding: 12px 20px;
  border: 2px solid #333;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.homepage-button:hover {
  background-color: #333;
  color: #fff;
}

@media screen and (max-width: 790px) {
  .change-password {
    width: 85%;
    padding: 20px;
  }

  .closeChangePasswordButton{
    top:29%;
    left:89%;
  }
  .input {
    font-size: 14px;
  }

  .icon{
    
    right:10%;
  }
  .button, .homepage-button {
    font-size: 16px;
    padding: 12px 20px;
    width: 100%;
  }
}
